/*Desktop layout sizes */
@media only screen and (max-width: 1025px) {
} 

/*laptop*/
@media only screen and (max-width:600px) {
}

/*Tablet LandScapes*/
@media only screen and (min-width:768px) and (max-width:1024px) {
}

/*Phone Landscape*/
@media only screen and (min-width:321px) and (max-width: 600px) {
}

/*Typical Phone Portrait*/
@media only screen and (max-width:320px) {
}




/*----------------------- Pulse Grow-------------------- */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(108, 5, 143, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

nav.navbar {
  display: flex;
  align-items: center;
  height: 10px;
  width: 100%;
  text-align: center;
 } 


nav.navbar .menu { /*--- [page2] navbar--*/
  /*------------ Remove o padrao de estilização de lista. Hide bullets, remove padding. ------------------*/
  list-style: none;
  padding-bottom: 1em;
  padding-left: 60em;
  /*-- Expande o menu afim de preencher o maior espaço possível no menubar ------------------*/
} 

nav.navbar .menu li {
  /*------------ Makes menu list items display horizontally rather than vertically ----------------------*/
  display: inline;
}

/* Add some spacing between the menu items */
nav.navbar .menu li:not(:first-child) {
  padding-left: 8px;
}

nav.navbar .social-icons {
  /*------------ Removes standard list styling. Hide bullets, remove padding.-------------- */
  list-style: none;
}


nav.navbar .social-icons svg {
  width: 20px;
  height: 20px;
  padding-top: 5rem;
}


.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


 .social-icons {
  display: flex;
  justify-content: end;
  clear: left;
}



/*---------------links navbar green hover over----------------*/

a:hover{
  color: greenyellow;
}

a {
  color: currentColor;
  font-weight: bold;
}


  /*-------------Grade dos links li href-------------------*/

  #home {
    font-family: 'Gemunu Libre', sans-serif;
    position: relative;
    font-size: 30px;
    }

  #poetry {
  position: relative;
  font-size: 30px;
  font-family: 'Gemunu Libre', sans-serif;
  }
  
  #projects {
   position: relative;
   font-size: 30px;
   font-family: 'Gemunu Libre', sans-serif;
   }
 
   
   #about-me {
   position: relative;
   font-size: 29px;
   font-family: 'Gemunu Libre', sans-serif;
  }


* {
  margin: 0 auto;
}
   
    
.section{
  height: 400rem; 
  width: 95.50rem;
}

/* 2a Section */
.backgrnd-img{
  background: url(./mirante.jpg);
  padding-top: 40em;
  padding-bottom: 30em;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.centerall{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

.backphoto{
  background: url(./trilhanaestrada.jpg);
  padding-top: 40em;
  padding-bottom: 40em;
  margin-top: 20em;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.container{
   margin: 5rem 15rem ;
   width: 65rem;
   height: 15rem;
   border-radius: 50px;
   background-color: aliceblue;
}

.DivI{
  display: flex;
  margin: 10px;
  height: 80px; /*toda vez que for abrir uma div
  deve se justificar altura e largura*/ 
  
 }

 .oll{
  margin-left: 50px;
  margin-bottom: 10px;

 }

 .olll{
  margin-left: 50px;
 margin-bottom: 20px;
 }

.pfont{
  position: relative;
  margin:50px 100px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'IM Fell English SC', serif;
  color:rgb(103, 43, 181);
  text-shadow: 2px 2px 6px rgb(219, 218, 218);
}



.pfontI{
position: relative;
margin:50px 90px;
font-size: 24px;
font-weight: bold;
font-family: 'IM Fell English SC', serif;
color:rgb(103, 43, 181);
text-shadow: 2px 2px 6px rgb(219, 218, 218);
}


.DivII{
  display: flex;
  margin: 10px;
  height: 40px;
 }

.pfontII{
  position: relative;
  margin: 50px 110px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'IM Fell English SC', serif;
  color:rgb(103, 43, 181);
  text-shadow: 2px 2px 6px rgb(219, 218, 218);
}

.pfontIII{
  position: relative;
  margin:50px 110px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'IM Fell English SC', serif;
  color:rgb(103, 43, 181);
  text-shadow: 2px 2px 6px rgb(219, 218, 218);
}

.p1{
    position: relative;
    left: 0.50rem;
    font-weight: 700;
    font-family: 'IM Fell English SC', serif;
}



.p2{
    position: relative;
    left: 1rem;
    font-weight: 700;
    font-family: 'IM Fell English SC', serif;
}



.p3{
    font-weight: 700;
    font-family: 'IM Fell English SC', serif;
}

.p4{
    font-weight: 700;
    font-family: 'IM Fell English SC', serif;
}

.center{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    float: left;
}

.igithub{
position: relative;
bottom: 9rem;
left: 12rem;

}


.github{
    font-weight: 700;
    font-family: 'IM Fell English SC', serif;
    position: relative;
    bottom: 8.60rem;
    left: 13rem;
    font-size: 1.50rem;

}

.ilinkedin{
    position: relative;
    left: 2.20rem;
    bottom: 5rem;

}

.linkedin{
    font-weight: 700;
    font-family: 'IM Fell English SC', serif;
    position: relative;
    left: 3.40rem;
    bottom: 4.50rem;
    font-size: 1.50rem;
    
}

  /*----------------------------Poetry propreties---------------------------- */
  .titulo {
    font-family: 'Birthstone Bounce', cursive;
    font-size: 2.40em;
    font-weight: bold;
    margin: 1.40em 9em 0em;
    position: relative;
  }

  .times {
    font-family: 'Birthstone', cursive;
     font-size: 2em;
     margin: 0em 8em 0em;
     font-weight: bold;
     position: relative;
  }

 .borderbottom{
    border-bottom: 3px solid rgb(194, 193, 193);
    width: 70rem;
    padding: 2rem 0 0 5rem;
 }


  .h1{
    color:rgb(205, 205, 205); 
    padding: 3rem 0 0rem 9rem; 
    font-family: 'IM Fell English SC', serif;
    font-size: 3rem;
  }

  .h2{
    display: flex;
    justify-content:center;
    color:rgb(103, 43, 181);
    text-shadow: 2px 2px 6px rgb(219, 218, 218);
    padding: 8rem 9rem 0rem; 
    font-size: 3rem;
    font-family: 'IM Fell English SC', serif;
    text-decoration-line: underline;
}

 .name{
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 3rem;
  color: rgb(59, 226, 73);
 }

 
 .boxI{
  margin: 1rem 0 0 10em ;
  width: 20rem;
  height: 15rem;
  border-radius: 50px;
  background-color: aliceblue;
  background: rgba(255, 255, 255, 0.373);
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
}

 .button{
    width: 13rem;
    height: 2.55rem;
    border-radius: 25px;
    margin: 2rem 0rem 4rem 3.50rem;
    background: linear-gradient(70deg, rgb(0, 0, 0), rgba(3, 63, 115, 0.56), rgba(116, 119, 116, 0.977));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    background-color: transparent;
 }


  .box{
    width: 70rem;
    height: 40rem;
    margin: 4rem 10rem 8rem;
    padding: 0 1rem 0;
    border-radius:25px 25px;
    box-shadow:0 8px 32px rgba(24, 9, 237, 0.27);
    border-bottom: 8px groove rgb(227, 227, 227);
    background: rgba(228, 216, 216, 0.2);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
  }

  .contact {
    display: flex;
    align-content: center;
    justify-content: center; 
    font-family: 'Rokkitt', serif;
    font-size: 1.27em;
    font-weight: 600;
    padding:3rem 1rem 0px;
    background: linear-gradient(180deg,white, #98cffd, #85e0fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

   .about{
    font-family:'Lobster Two', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 1rem 0em;
    color:goldenrod;
    line-height: 1.0;
    text-decoration-line: underline;
}
   

0
